h1{
    color: orange;
    
}
header{
    background-color:rgb(193, 237, 252);;
    height: 100px;
    width:100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
     text-align: center;
    
     
     
     
}
img{
    height: 100px;
    width: 150px;
   
}
.heading{
    display: flex;
   
 
}
body{
    margin: 0px;
}
footer{
    background-color: grey;
    text-align: center;
    height: 70px;
    margin-top: 35px;
}
main h1{
    color: grey;
    text-align: center;
    height: 70vh;
}
p{
    margin-bottom: 0px;
}
main{
    height: 70vh;
    margin-top: 30px;

    
}
.flex{
    display: flex;
    justify-content: space-around;

}
div img{
    height: 170px;
    width: 170px;
}
div h4{
    text-align: center;
    margin-bottom: 0px;
}
div h3{
    text-align: center;
    margin-top: 0px;
}

